RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:8wytKB0V7E
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 8wytKB0V7E:ERRORPAGEID