@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
:root {
  --background-color: #18172b;
  --border-color: #6d61f3;
  --white-color: #ffffff;
  --accent-color: #c88bff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
}
body {
  background-color: var(--background-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  z-index: 2;
}
.thanks {
  margin-top: 10px;
  z-index: 2;
}
#playingSong {
  position: absolute;
  top: 130px;
  padding-left: 2vw;
  font-size: 36px;
  z-index: 3;
}
.video {
  display: flex;
  justify-content: left;
  z-index: 2;
}
#myVideo {
  margin-top: 30px;
  max-width: calc(99vw - 50px);
  max-height: calc(100vh - 150px);
  border-radius: 1%;
  outline: var(--border-color);
}
#container {
  left: 0px;
  top: -100px;
  height: calc(100vh + 100px);
  overflow: hidden;
  position: relative;
}

#animate {
  margin: 0 auto;
  width: 20px;
  overflow: visible;
  position: relative;
}

#all {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
}
#myAudio {
  margin-top: 150px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  z-index: 2;
  max-width: 85vw;
}
#myButton {
  background-color: var(--accent-color);
  color: var(--white-color);
  width: 150px;
  height: 50px;
  display: grid;
  justify-content: center;
  cursor: pointer;
  margin-left: 50px;
  align-items: center;
  border-radius: 10px;
}
#myButton:hover {
  background-color: var(--white-color);
  color: var(--accent-color);
  transition: 0.3s;
}

@media only screen and (max-width: 405px) {
  #playingSong {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 1200px) {
  #playingSong {
    font-size: 24px;
  }
}
@media only screen and (max-width: 750px) {
  #playingSong {
    font-size: 18px;
  }
}
@media only screen and (max-width: 575px) {
  #playingSong {
    font-size: 12px;
  }
}
@media only screen and (max-width: 472px) {
  #playingSong {
    margin-top: 70px;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #myButton {
    margin-top: 20px;
    margin-left: 0;
  }
  @media only screen and (max-width: 310px) {
    #playingSong {
      margin-top: 70px;
    }
  }
}
